<launch>
    <arg name="max_cnt"         default="150"/>
    <arg name="show_track"      default="1"/>
    <arg name="image_height"    default="480"/>
    <arg name="image_width"     default="640"/>
    <arg name="config_file" default="$(find vins)/../config/fast_drone_250.yaml"/>
	<node name="vins_fusion" pkg="vins"  type="vins_node" output="screen" args="$(arg config_file)">
		<param name="max_cnt"         value="$(arg max_cnt)"/>
		<param name="show_track"      value="$(arg show_track)"/>
		<param name="image_height"    value="$(arg image_height)"/>
		<param name="image_width"     value="$(arg image_width)"/>
	</node>

	<!-- <node name="loop_fusion" pkg="loop_fusion"  type="loop_fusion_node" args="$(arg args)" output="screen"/> -->

</launch> 