<launch>
    <arg name="config_file" default="$(find vins)/../config/fast_drone_250.yaml"/>
	<node name="vins_fusion" pkg="vins"  type="vins_node" output="screen" args="$(arg config_file)"/>

	<!-- <node name="loop_fusion" pkg="loop_fusion"  type="loop_fusion_node" args="$(arg args)" output="screen"/> -->

</launch> 